{{ define "title" }}japoto{{ end }}
{{ define "content" }}
{{ $PublicURL := .PublicURL }}
{{- range $letter, $eps := .Alphabet -}}
<div class="kiosk">
<ul class="kiosk__container">
{{- range $ep := $eps -}}
<li class="show-card">
<a class="show-card__container" href="{{ $PublicURL }}/{{ $ep.Provider }}/{{ $ep.ShowId }}.html">
<img class="show-card__img" src="{{ $PublicURL }}/images/{{ $ep.Provider }}/{{ $ep.ShowId }}.jpg">
<h3 class="pin pin--bl">{{ $ep.ShowId }}</h3>
</a>
</li>
{{ end -}}
</ul>
</div>
{{ end }}
{{ end }}