*,
*::after,
*::before {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: 8px; */
  padding: 0;
  font-family: 'M PLUS Rounded 1c', Tahoma, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #300030;

  --scr-width: calc(100vw - (100vw - 100%));
  --text-0: #300030;
  --accent-0: #fff;
  --accent-1: #e8d4ff;
  --accent-2: #f0e0ff;
  background-color: var(--accent-2);
}

h1,
h2,
.show-page__title,
h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: var(--text-0);
  letter-spacing: -0.05em;
}

h1 {
  padding: 0 9px;
  font-weight: 600;
}

.show-page__title {
  padding: 0 9px;
}

main {
  margin: 0;
}

a {
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  text-decoration: underline;
}

.title {
  display: flex;
  align-items: center;
}

.title__link {
  padding: 8px 0;
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
}

.title__logo {
  width: 48px;
  height: 48px;
  margin-right: 4px;
}

.update-time {
  position: absolute;
  right: 0;
  top: 0;
}